.line > svg > path:first-child {
  animation: strokeline 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000;
}

.line > svg > path:nth-child(2) {
  animation: stroketip 0.7s cubic-bezier(0.25, 1, 0.5, 1) 1.4s forwards;
  stroke-dasharray: 300;
  stroke-dashoffset: -100;
}
@keyframes strokeline {
  from {
    stroke-dashoffset: -1000;
  }
  to {
    stroke-dashoffset: -1450;
  }
}

@keyframes stroketip {
  from {
    stroke-dashoffset: -100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 62em) {
  .arrow {
    transform: rotate(90deg) scale(3.6) translate(15px, -5px) scaleY(-1);
  }
}
